*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  color: inherit; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3F3F3F;
  background: #E5E5E5; }

body::-webkit-scrollbar {
  width: 0; }

.wrapper {
  max-width: 1440px;
  padding: 0 32px;
  height: 100vh;
  margin: 0 auto;
  background: rgba(255, 254, 251, 0.8); }

.wrapper__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

img {
  width: 100%; }

.sidebar {
  -ms-flex-preferred-size: 332px;
      flex-basis: 332px;
  margin-right: 16px; }

.sidebar__title {
  padding-top: 31px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px; }

.sidebdr__form {
  height: 440px;
  padding: 24px;
  background: #FFFEFB;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px; }

.sidebar__form-item {
  margin-bottom: 16px; }

.sidebar__form-title {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #49485E;
  margin-bottom: 4px;
  position: relative; }

.sidebar__form-title .one::before,
.sidebar__form-title .three::before,
.sidebar__form-title .four::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  background: #FF8484;
  border-radius: 4px;
  top: 0; }

.sidebar__form-input {
  width: 100%;
  border: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 16px;
  outline: none; }

.input-big {
  height: 108px; }

.input-big::-webkit-input-placeholder {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px); }

.input-big:-ms-input-placeholder {
  transform: translateY(-32px); }

.input-big::-ms-input-placeholder {
  transform: translateY(-32px); }

.input-big::placeholder {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px); }

.sidebar__form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4; }

.sidebar__form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4; }

.sidebar__form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4; }

.sidebar__form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4; }

.sidebar__form-btn {
  margin-top: 8px;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #B4B4B4;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: #EEEEEE; }

.sidebar__form-btn:hover {
  background: #7BAE73;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }

.content {
  -ms-flex-preferred-size: 1108px;
      flex-basis: 1108px;
  height: 100vh;
  overflow: scroll;
  padding-top: 31px; }

.content::-webkit-scrollbar {
  width: 0; }

.button {
  text-align: right; }

.content__btn {
  padding: 10px 16px;
  display: inline-block;
  background: #FFFEFB;
  border: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
  margin-bottom: 16px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s; }

.content__btn:hover {
  background: #f3f3ef;
  color: #7e7d7d; }

.content__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.content__card {
  max-width: 332px;
  margin-bottom: 16px;
  background: #FFFEFB;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-right: 10px; }

.content__card:hover::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  top: -7px;
  right: -10px;
  background: #FF8484;
  background-image: url(../../img/conteiner-garbage.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s; }

.content__card:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96); }

.content__card-box {
  margin: 16px 16px 24px; }

.content__card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 16px; }

.content__card-description {
  margin-bottom: 32px; }

.content__card-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px; }

@media (max-width: 1414px) {
  .wrapper {
    padding: 0 12px; } }
@media (max-width: 1374px) {
  .content__cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }

  .content__card {
    max-width: 294px; } }
@media (max-width: 1228px) {
  .sidebar__title {
    font-size: 27px; }

  .content__card {
    max-width: 254px; } }
@media (max-width: 1071px) {
  .content {
    -ms-flex-preferred-size: 650px;
        flex-basis: 650px; }

  .content__cards {
    display: block; }

  .content__card {
    max-width: 100%; }

  .content__card-img {
    -o-object-fit: cover;
       object-fit: cover; } }
@media (max-width: 775px) {
  .sidebar__title {
    font-size: 22px; }

  .sidebar {
    -ms-flex-preferred-size: 274px;
        flex-basis: 274px; }

  .content {
    -ms-flex-preferred-size: 438px;
        flex-basis: 438px; } }
@media (max-width: 576px) {
  .sidebar {
    -ms-flex-preferred-size: 237px;
        flex-basis: 237px; }

  .content {
    -ms-flex-preferred-size: 271px;
        flex-basis: 271px; } }
@media (max-width: 550px) {
  .sidebar__title {
    font-size: 18px; }

  .content__card-title {
    font-size: 16px; }

  .content__card-description {
    font-size: 11px; }

  .content__card-price {
    font-size: 19px; } }

/*# sourceMappingURL=main.css.map */